.criteria {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 80px;
  &__title {
    font-size: 4rem;
    line-height: 120%;
    color: #313131;
    font-weight: 700;
    padding: 0;
    margin: 0 0 10px;
    @media screen and (max-width: 480px) {
      font-size: 4.5rem;
    }
  }
  &__definition {
    font-size: 2.6rem;
    line-height: 130%;
    color: #313131;
    font-weight: 400;
    padding: 0;
    margin: 0 0 20px;
    @media screen and (max-width: 480px) {
      font-size: 3rem;
    }
  }
  &__blocks-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 40px;
    @media screen and (max-width: 960px) {
      gap: 30px;
    }
    @media screen and (max-width: 425px) {
      gap: 20px;
    }
  }
  &__block {
    background-color: #0C8C8E;
    border-top-left-radius: 50px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 50px;
    padding: 20px;
    display: flex;
    &_efficiency {
      gap: 20px;
      display: flex;
      flex-direction: column;
      @media screen and (max-width: 810px) {
        border-top-left-radius: 40px;
        border-bottom-right-radius: 40px;
        gap: 10px;
      }
    }
    &_advantages {
      flex-wrap: wrap;
      justify-content: space-between;
      @media screen and (max-width: 1124px) {
        flex-direction: column;
        align-items: center;
      }
    }
    &-img {
      max-width: 43rem;
      width: 100%;
      object-fit: cover;
      
    }
    &-content {
      max-width: 590px;
      @media screen and (max-width: 1124px) {
        max-width: 100%;
      }
    }
  }
  &__description {
    display: flex;
    gap: 20px;
    align-items: center;
    @media screen and (max-width: 480px) {
      gap: 10px;
    }
    &-img{
      &_efficiency {
        max-width: 8.3rem;
        width: 100%;
        object-fit: cover;
        @media screen and (max-width: 500px) {
          max-width: 6.3rem;
        }
      }
      &_advantages {
        max-width: 14.4rem;
        width: 100%;
        object-fit: cover;
        @media screen and (max-width: 650px) {
          max-width: 10rem;
        }
      }
    }
    &-text {
      font-size: 2.6rem;
      line-height: 130%;
      color: #FFFFFF;
      font-weight: 400;
      padding: 0;
      margin: 0;
      @media screen and (max-width: 650px) {
        font-size: 16px;
      }
      @media screen and (max-width: 425px) {
        font-size: 14px;
      }
    }
  }
  &__effect {
    &-list {
      display: flex;
      gap: 20px;
      @media screen and (max-width: 1155px) {
        flex-wrap: wrap;
        justify-content: center;
      }
      @media screen and (max-width: 500px) {
        gap: 10px;
      }
    }
    &-item {
      background: rgba(255, 255, 255, 0.2);
      padding: 13px 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-radius: 20px;
      max-width: 377px;
      &:nth-child(2) {
        p {
          margin-right: 10px;
        }
      }
      @media screen and (max-width: 500px) {
        border-radius: 15px;
      }
    }
    &-img {
      width: 6.2rem;
      object-fit: cover;
    }
    &-text {
      font-size: 2rem;
      line-height: 130%;
      color: #FFFFFF;
      font-weight: 400;
      margin: 0 5px 0 0;
      @media screen and (max-width: 650px) {
        font-size: 16px;
      }
      @media screen and (max-width: 425px) {
        font-size: 14px;
      }
    }
  }
  &-list__text {
    font-size: 2rem;
    line-height: 130%;
    color: #FFFFFF;
    font-weight: 400;
    margin: 0 5px 0 0;
  }
  &__advantages {
    &-list {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 15px;
      margin-top: 20px;
      @media screen and (max-width: 500px) {
        margin-bottom: 20px;
      }
      @media screen and (max-width: 425px) {
        gap: 5px;
      }
    }
    &-item {
      display: flex;
      align-items: center;
      gap: 15px;
    }
    &-img {
      width: 5rem;
      object-fit: cover;
      @media screen and (max-width: 768px) {
        width: 4rem;
      }
    }
    &-text {
      span {
        opacity: 0.7;
      }
    }
  }
}